* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(118, 71, 212);
  min-height: 65px;
}

#main {
  flex: 1;
}

@media (min-width: 768px) {
  #searchBar {
    width: 500px;
  }
}

#navbar span {
  color: white;
}


#navigator {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 0;
  height: 0;
  border-bottom-left-radius: 300px;
  background-color: rgba(100, 148, 237, 0.52);
  transition: width 0.1s ease-out, height 0.1s ease-out;
}

#navigator:hover {
  width: 330px;
  height: 330px;
}

#navigator #menu {
  position: absolute;
  top: 8px;
  right: 20px;
}

#buttons {
  justify-content: center;
  align-items: center;
}

#register {
  position: absolute;
  right: 165px;
  top: 35px;
  z-index: 1;
}

#login {
  position: absolute;
  right: 55px;
  top: 160px;
}

#cart {
  position: absolute;
  right: 200px;
  top: 20px;
}
#order {
  position: absolute;
  right: 115px;
  top: 115px;
}
#profile {
  position: absolute;
  right: 40px;
  top: 40px;
}
#sell {
  position: absolute;
  right: 20px;
  top: 200px;
}

#buttons a{
  color: black;
  text-align: center;
}


#foot {
  background-color: rgba(128, 128, 128, 0.308);
  color: black;
  line-height: 50px;
  margin-top: 8vh;
}

@media (max-width: 768px) {
  #foot {
    line-height: 30px;
  }
}

#products {
  width: 165px;
  height: 200px;
  text-align: center;
  margin: 10px 10px;
}

#cart-row-head {
  display: flex;
  align-items: center;
}

#cart-row-head div {
  text-align: center;
}

.cart-row-body{
  display: flex;
  align-items: center;
  min-height: 80px
}

.cart-row-body div {
  text-align: center;
}

.card {
  margin: 15px 0px;
}
